<nav>
    <ul>
       <li><a href="/">Home</a></li>
       <li><a href="/site/list">List</a></li>
       <li><a href="/logout">Logout</a></li>
       <li><a href="/api/all">API (all)</a></li>
       <li><a href="/api/isbn10/0132832887">API (isbn)</a></li>
       <li><a href="/api/title/calc">API (title)</a></li>
    </ul>
 </nav>

<h1>List of Books</h1>
<div class="booklist">
    <div>
        <a href="/site/book/0132145383">
            <img src="/static/images/0132145383.jpg" width="100" />
        </a>                  
    </div>
    <h3>Book Title Here</h3>
</div>