<!DOCTYPE html>
<html lang="en">
<head>
   <%- include('./partials/head'); %>
</head>
<body>
   <%- include('./partials/header'); %>
   <main class="book">
		<%- include('./partials/sidebar'); %>
		<section class="pagecontent">



		</section>      
   </main>   
   <%- include('./partials/footer'); %>
</body>
</html>