body {
    margin: 0;
    background-color: rgba(54, 224, 250, 0.656);
}

*{
    box-sizing: border-box;
}

.side-bar{
    background-color: red;
    display: flex;
    flex-direction: column;
    height: 100vh;
    padding-top: 100px;
    position: fixed;
}

.link-box{
    padding: 30px 10px;
    background-color: #f5deb3;
    text-align: center;
    margin: 5px;
    color: black;
}

.links{
    text-decoration: none;
    color: #333333;
    font-weight: bolder;
    font-size: 20px;
    display: block;
}

.home-page{
    height: 80px;
    width: 100vw;
    background-color:#66cdaa;
    text-align: center;
    font-size: 40px;
    padding-top: 15px;
    color:black;
    display: flex;
    justify-content: center;
    align-items: center;
}

.dropdown-menu{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 10px;
}


.dropdown-menu select {
    width: 200px;
    padding: 8px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    border: 3px solid #000;
    min-width: 300px;
    height: 40px;
}

.client-details {
    margin: 20px;
    background-color: bisque;
    width: 30vw;
    padding: 10px;
    margin-left: 12%;
    font-weight: bolder;
    font-size: 20px;
    /* display: flex;
    flex-direction: column;
    flex-wrap: wrap; */
}

.name {
    font-size: 35px;
}

.portfolio-details {
    text-align: center;
    table-layout: fixed;
    margin: 20px;
    display: inline-block; /* Use inline-block to size the container based on its content */
    background-color: bisque;
    padding: 10px; /* Add padding to match the table */
    margin-left: 12%;
}

/* Remove margin from portfolio-details to avoid extra space */
.portfolio-details table {
    width: 100%;
    border-collapse: collapse;
    margin: 0;
}

th {
    width: 150px;
    padding: 8px; /* Add padding to match the table */
}

tr:nth-child(2n) {
    background-color: #f2f2f2;
}

td,
th {
    border: 1px solid #ddd;
    padding: 2px; /* Add padding to match the table */
}