body {
   font-family: Open Sans, sans-serif;
   background-color: #5b5c6b;
   display: flex;
   align-items: center;    
   justify-content: center;
   flex-direction: column;
   margin: 0;
   padding: 15px;
   box-sizing: border-box;
}
h2, h3 {
   margin: 0;
   padding: 0;
}
h2 {
   margin-top: 10px;
}
footer {
  background-color: white;
  padding: 3px;
  font-size: 1em;
  font-weight: bold;
  width: 100%;
}
footer div {
  
  text-align: center;
}
footer span {
  display: inline-block;
  background-color: #cfe2f3;
  margin-left: 3px;
}
.container {
   display: grid;
   grid-template-columns: 1fr 1fr;
   grid-template-rows: 1fr 1fr;
   grid-column-gap: 5px;
   grid-row-gap: 5px;
}

.card {

   background-color: #fff;
   background: linear-gradient(#f8f8f8, #fff);
   box-shadow: 0 8px 16px -8px rgba(0,0,0,0.4);
   border-top-right-radius: 6px;
   border-bottom-right-radius: 6px;
   margin: 0.5rem;
   height: 250px;
   box-shadow: 5px 5px 14px 5px rgba(0,0,0,0.36);

   display: grid;
   grid-template-columns: 1fr 2fr;
   grid-column-gap: 8px;
 }
 .card p {
    margin-right: 5px;
 }

 button {
   background:    #3d85c6;
   border-radius: 11px;
   padding:       10px 32px;
   color:         #cfe2f3;
   display:       inline-block;
   font-size:     19px;
   text-align:    center;    
 }

 .card img {
    width: 250px;
 }

/* FROM https://www.w3schools.com/howto/howto_js_snackbar.asp */

 /* The snackbar - position it at the top and in the middle of the screen */
#snackbar {
   visibility: hidden; /* Hidden by default. Visible on click */
   min-width: 250px; /* Set a default minimum width */
   margin-left: -125px; /* Divide value of min-width by 2 */
   background-color: #333; /* Black background color */
   color: #fff; /* White text color */
   text-align: center; /* Centered text */
   border-radius: 2px; /* Rounded borders */
   padding: 16px; /* Padding */
   position: fixed; /* Sit on top of the screen */
   z-index: 1; /* Add a z-index if needed */
   left: 50%; /* Center the snackbar */
   top: 15px; /* 30px from the top */
 }
 
 /* Show the snackbar when clicking on a button (class added with JavaScript) */
 #snackbar.show {
   visibility: visible; /* Show the snackbar */
   /* Add animation: Take 0.5 seconds to fade in and out the snackbar.
   However, delay the fade out process for 2.5 seconds */
   -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
   animation: fadein 0.5s, fadeout 0.5s 2.5s;
 }
 
 /* Animations to fade the snackbar in and out */
 @-webkit-keyframes fadein {
   from {top: 0; opacity: 0;}
   to {top: 15px; opacity: 1;}
 }
 
 @keyframes fadein {
   from {top: 0; opacity: 0;}
   to {top: 15px; opacity: 1;}
 }
 
 @-webkit-keyframes fadeout {
   from {top: 15px; opacity: 1;}
   to {top: 0; opacity: 0;}
 }
 
 @keyframes fadeout {
   from {top: 15px; opacity: 1;}
   to {top: 0; opacity: 0;}
 }