<section class="sidebar">
   <nav>
      <ul>
         <li><a href="/">Home</a></li>
         <li><a href="/site/list">List</a></li>
         <li><a href="/logout">Logout</a></li>
         <li><a href="/api/all">API (all)</a></li>
         <li><a href="/api/isbn10/0132832887">API (isbn)</a></li>
         <li><a href="/api/title/calc">API (title)</a></li>
      </ul>
   </nav>
</section>